@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Yellowtail&family=Press+Start+2P&display=swap");

body[data-theme="retro"] {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25), transparent), url(../../together.png);
  background-size: cover;
  --hover-box-shadow:
    -2px -2px 5px var(--bi-blue),
    0px 3px 5px var(--bi-purple),
    3px 2px 5px var(--bi-purple),
    0px -5px 5px var(--bi-blue);

  .hero {
    min-height: 350px;
    height: 33vmin;
    display: grid;
    place-items: end;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background-image:
      url(../../assets/5.png),
      url(../../assets/4.png),
      url(../../assets/3.png),
      url(../../assets/2.png),
      url(../../assets/6.png),
      url(../../assets/1.png);
    background-size: contain;
  }

  .hero::before {
    position: absolute;
    left: -30%;
    right: -30%;
    top: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(to top, var(--bi-blue) 25%, var(--bi-purple) 75%, var(--bi-pink));
    opacity: 0.5;
  }

  .sun,
  .road {
    position: absolute;
  }

  main {
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
  }

  main::after {
    position: absolute;
    left: -30%;
    right: -30%;
    top: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(to bottom, white, lavender, pink, cyan, white);
    mask: linear-gradient(black 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), #1c7cbb calc(100% - 1.5px)), linear-gradient(90deg, #1c7cbb 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), #1c7cbb calc(100% - 1.5px));
    mask-size: 10% 10%;
    transform: perspective(500px) rotateX(65deg);
    mask-repeat: repeat;
    background-repeat: repeat;
    background-size: 100% 20%;
    background-position-y: 10%;
    z-index: -1;
  }

  .sun {
    background-image: linear-gradient(to bottom, var(--bi-blue), var(--bi-purple), var(--bi-pink));
    transform: translate(-50%, -50%);
    width: min(50vw, 320px);
    height: min(50vw, 320px);
    filter: blur(1px);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    z-index: 2;
  }

  .road {
    background-image: repeating-linear-gradient(transparent,
        transparent 10px,
        black 10px,
        black 20px);
    z-index: 2;
    height: 50%;
    bottom: 0;
    width: 100%;
    left: 0;
    width: 100%;
    animation: mymove 30s linear infinite;
    background-size: 100% 50%;
  }


  :is(canvas),
  :is(svg) {
    display: none;
  }

  .hero svg {
    display: none;
    align-self: flex-end;
    width: 100%;
    height: auto;
    z-index: 2;
  }


  :is(h1) {
    font-family: "Russo One";
    font-size: 3.5em;
    font-weight: 700;
    width: 100%;
    text-align: center;
    z-index: 2;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.66));
    background: linear-gradient(cornflowerblue 30%,
        white,
        darkmagenta 60%,
        cornflowerblue 100%);
    -webkit-text-stroke: 0.1px dimgray;
    background-size: 100% 1.125em, auto;
    background-repeat: repeat-y, repeat;
    background-clip: text, border-box;
    color: transparent;
    box-shadow: var(--hover-box-shadow);
    width: fit-content;
    margin: 0 auto;
    padding: 0.25em 0.5em;
  }

  .content {
    height: 100%;
    padding: 3em min(5em, 25%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 1));
    z-index: 4;
    font-family: "Press Start 2P";
  }

  :is(h2) {
    margin: 1.5em 0;
    font-family: inherit;
    color: gold;
  }

  h2:first-child {
    margin-top: 0;
  }

  :is(p) {
    margin: 1em 0;
    font-family: inherit;
    line-height: 1.5em;
    color: gold;
  }

  nav>.links {
    margin: 0.66em 0.33em;
    min-height: 10vmin;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    font-size: 1.5em;
    font-weight: 700;
  }

  .link {
    padding: 0.125em 0.25em;
  }

  nav {
    border-bottom: 0.25em solid var(--bi-blue);
  }

  .link:hover,
  .link.home:hover,
  .link.cart:hover {
    color: var(--bi-pink);
    text-shadow: 2px 0px 2px var(--bi-purple), -2px 0px 2px var(--bi-blue);
  }

  h1:hover,
  h2:hover {
    text-decoration: underline var(--bi-pink);
  }

  .link:hover {
    cursor: pointer;
    box-shadow: var(--hover-box-shadow);
  }

  .links .wrap {
    flex: 1 1 0;
    display: flex;
    gap: 0.5em 1em;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .link.home,
  .link.cart {
    font-family: "Yellowtail";
    font-size: 1.33em;
    text-align: center;
    align-self: flex-start;
    color: var(--bi-purple);
  }

  .stroke-1 {
    fill: var(--bi-purple);
  }

  .stroke-2 {
    fill: var(--bi-pink);
  }

  .stroke-3 {
    fill: var(--bi-blue);
  }

  .stroke-4 {
    fill: var(--dark);
  }
}

@keyframes mymove {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}